body{
    font-family: "Franklin Gothic Medium";
    background: linear-gradient(rgb(0, 217, 225), rgb(0, 255, 115));
    background-repeat: no-repeat;
}
.head{
    display: flex;
    justify-content: space-between;
}

.head h1{

}
#myForm{
    width: auto;
    height: auto;
    text-align: center;
    background: white;
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    border-style: groove;
    border-radius: 0%;
    border-color:#1a2537;
}

/*input[type="text"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}*/
input[type="date"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}
input[type="email"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}
input[type="password"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}

.formulario {
    width: 300px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'arial';
    color: white;
}

.form-ingresar h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid cyan;
    font-family:'arial';
    font-size: 18px;
}

.form-ingresar p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.formulario a{
    color: white;
    text-decoration: none;
}

.form-ingresar a:hover{
    color: white;
    text-decoration: underline;
}

.formulario .btn{
    width: 100%;
    background: #00aae4;
    border: none;
    padding: 12px;
    color: white;
    margin-bottom: 12px ;
    font-size: 16px;
}