body{
    font-family: "Franklin Gothic Medium";
    background: linear-gradient(rgba(225, 0, 0, 1), rgba(255, 0, 230, 1));
    background-repeat: no-repeat;
}
.head{
    display: flex;
    justify-content: space-between;
}

.head h1{

}
#myForm{
    width: auto;
    height: auto;
    text-align: center;
    background: white;
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    border-style: groove;
    border-radius: 0%;
    border-color:#1a2537;
}

input[type="text"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}
input[type="date"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}
input[type="email"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}
input[type="password"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}