!<!Doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apartamentos</title>
    <link rel="stylesheet" href="../static/_css/style.css">
</head>
<body>
<header>
    <a href="users.html">
        Usuarios
    </a>
    <a href="parking.html">
        Parqueaderos
    </a>
    <a href="apartments.html">
        Apartamentos
    </a>
    <a href="visitors.html">
        Visitantes
    </a>
    <a href="vehicle.html">
        Vehiculos
    </a>
    <a href="habitant.html">
        Habitantes
    </a>

</header>
</body>
</html>