!<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/_css/style.css">
    <title>Vehiculos</title>
</head>
<body>
<header class="head">
    <div>
        <img src="../static/_img/LOGO_FINAL_ASSIPARK.png">
    </div>
    <div>
        <nav>
            <a href="users.html">
                <button>
                Usuarios
                </button>
            </a>
            <a href="parking.html">
                <button>
                Parqueaderos
                </button>
            </a>

            <a href="apartments.html">
                <button>
                Apartamentos
                </button>
            </a>
            <a href="visitors.html">
                <button>
                Visitantes
                </button>
            </a>
            <a href="vehicle.html">
                <button>
                Vehiculos
                </button>
            </a>
            <a href="habitant.html">
                <button>
                Habitantes
                </button>
            </a>
        </nav>
    </div>
</header>
<section class="formulario">
    <h4>Registrar vehículo visitante</h4>
    <label for="vehicle_type">Tipo Vehículo</label>
    <select name="vehicle_type">
        <option selected value="0">Seleccione el tipo de automovil</option>
        <option selected value="1">Carro</option>
        <option selected value="">Moto</option>
    </select>
    <input class="controls" type="text"  placeholder="Placa">
    <input class="controls" type="text"  placeholder="Color">
    <input class="btn" type="submit" value="Aceptar" >
</section>
</body>
</html>